
.vs/ATC/v17/Browse.VC.opendb
.vs/ATC/v17/Browse.VC.db-wal
.vs/ATC/v17/Browse.VC.db-shm
.vs/ATC/v17/Browse.VC.db
.vs/ATC/FileContentIndex/120739e6-f683-40f1-b4c7-b2d41f560774.vsidx
.vs/ATC/FileContentIndex/406e56ea-3403-4f89-91ef-96a43f5c51f7.vsidx
